.showlist-container {
  width: 100%;
  max-width: 800px; /* Set a max width */
}
.showlist-container hr {
  border-color: #444;
}
.back-button {
  background: #444;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1rem;
}
.back-button:hover {
  background: #555;
}

/* This is the view for Step 3 (SeatMap) */
.seatmap-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the seat map */
}