.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers all our content blocks */
}

.App-header {
  width: 100%;
  text-align: center; /* Keep header text centered */
  position: relative; /* For logout button */
}

main {
  width: 100%;
}

.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.logout-button:hover {
  background-color: #d32f2f;
}