:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  justify-content: center; /* This horizontally centers the app */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 1280px; /* Sets the max width of our app */
  padding: 2rem;
}